



<div class="row">
  <% if(editingAnswer){%>
    
    <%if(errors.length > 0){%>
      <div class="alert alert-warning alert-dismissible" role="alert">
    <% errors.forEach(function(error){%>
      <%= error%>
      <br>
    <% });%>
    </div>
    <% }%>
    <div id="answer-votecell" class="votecell"></div>
      <textarea class="form-control post-text answerText" id="user-description" rows="5"><%= answer.escape("body")%></textarea>
  <% } %>    
  <% if(!editingAnswer){%>
    <div id="answer-votecell" class="votecell"></div>
    <div class="post-text" itemprop="text">    
      <p><%=answer.escape("body")%><p>  
    </div>
  <% } %>      
</div>
<% if(!editingAnswer) { %>
<div class="row" style='padding-top: 10px; padding-bottom: 40px;'>
  <div class="author-info">
    <div class="pull-right">
      <div class="object-hyperlink col-xs-1">
        <a href=<%= "#users/" + answer.escape("author_id") %>><%= answer.escape("author_name")%></a>
      </div>
    </div>
  </div>
  <div class="col-xs-1"></div>
  <% if(SOC.currentUser.id === parseInt(answer.escape("author_id"))){%>
    <div class="col-xs-3">
      <button class="btn btn-primary edit" style="display: table-cell; font-size: 18px;">Edit</button>
      <button class="btn btn-danger destroy" style="display: table-cell; font-size: 18px;">Delete</button>
    </div>      
  <% } %>  
  </div>
</div>
<% } %>
<% if(editingAnswer) { %>
<div class="row" style='padding-top: 10px; padding-bottom: 40px;'>
  <div class="author-info">
    <div class="pull-right">
      <div class="object-hyperlink col-xs-1">
        <a href=<%= "#users/" + answer.escape("author_id") %>><%= answer.escape("author_name")%></a>
      </div>
    </div>
  </div>
  <div class="col-xs-1"></div>
    <div class="col-xs-3">
      <button class="btn btn-success submitAnswer" style="margin-top: 20px; font-size: 18px">Submit</button>    
    </div>      
  </div>
</div>
<% } %>



<div class="row">
  <div class="answerCommentNewShowEdit"></div>
</div>

<div class="row">
  <div class="newAnswerComment" style="font-size: 18px;"></div>
</div>
