



<div class="container">
  <div class="mainbar col-xs-6 object">
    <div class="row">  
      <div id="question-header">
        <h1 itemprop="name"><%= question.escape("title") %></h1>
      </div>
    </div>  
    <%if(errors.length > 0){%>



    <div class="row ">    
      <div class="author-info" style="text-align: center; font-size: 18px;">
        <div class="alert alert-danger alert-dismissible" role="alert">
        <% errors.forEach(function(error){%>
          <%= error%>
          <br>
        <% });%>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only" >Close</span></button>
        </div>
      </div>
    </div>

    <% };%>

    <div class="row questionBody" style="padding-bottom: 20px;">
    <% if(editingQuestion){%>
      <div class="votecell"></div>
        <textarea class="form-control post-text questionText" id="user-description" rows="5"><%= question.escape("body")%></textarea>
    <% } %>    

    <% if(!editingQuestion){%>
      <div class="votecell"></div>
      <div class="post-text" itemprop="text">
        <p><%= question.escape("body") %></p>
      </div>
    <%}%>
    </div>
    
    <div class="tags row" style="padding-bottom: 20px;">
      <div class="fake-votecell pull-left" style="height: 48px; line-height: 48px;
 font-size: 24px;  margin-right: 50px;"><b>Tags:</b></div>
        <%question.tags().each(function(tag){%>
      <div class="fake-votecell pull-left" style="padding-left: 15px;  font-size: 24px;">
          <a class="btn btn-primary vote" style="background-color: #428bca;  font-size: 24px;" href=<%= "#tags/" + tag.escape("id") %>><%= tag.escape("name")%></a>
      </div>
          
        <%})%>
    </div>
    
    <div class="row bordered" style="padding-bottom: 20px;">    
      <div class="author-info">
        <div class="pull-right">
          <div class="object-hyperlink col-xs-1">
            <a href=<%= "#users/" + question.escape("author_id") %>><%= question.escape("author_name")%></a>
          </div>
        </div>
        <% if(SOC.currentUser.id === parseInt(question.escape("author_id")) && !editingQuestion){%>
          <div class="object-hyperlink">
            <a class="edit" style="padding-right: 30px;">Edit</a>
            <a class=" destroy ">Delete</a>
          </div>
        <% } %> 
      </div>

      <% if(SOC.currentUser.id === parseInt(question.escape("author_id")) && editingQuestion){%>      
      <div class="col-xs-3">      
        <button class="btn btn-success submitQuestion" style="margin-top: 20px;">Submit</button>    
      </div>
      <% } %>       
    </div>
    <div class="newShowEdit"></div>
    <div class="newComment" style="font-size: 18px;"></div>
    <div class="row">
      <div class="subheader answers-subheader"></div>        
    </div>
  </div>

  <div id="answers" class="object col-xs-6" style="padding-bottom: 0px;"></div>
  <div id="answer-form" class="object col-xs-6" style="padding-top: 0px;"></div>
  
</div>