<div class="container">
  <div class="mainbar col-xs-6 object">
    <div class="row">  
      <div id="question-header">
        <h1 itemprop="name"><%= question.escape("title") %></h1>
      </div>
    </div>  

    <div class="row questionBody" style="padding-bottom: 20px;">
    <% if(editingQuestion){%>
      <div class="votecell"></div>
        <textarea class="form-control post-text questionText" id="user-description" rows="5"><%= question.escape("body")%></textarea>
    <% } %>    

    <% if(!editingQuestion){%>
      <div class="votecell"></div>
      <div class="post-text" itemprop="text">
        <p><%= question.escape("body") %></p>
      </div>
      <%question.tags().each(function(tag){%>
            <a class="btn" style="background-color: lightGray;" href=<%= "#tags/" + tag.escape("id") %>><%= tag.escape("name")%></a>
      <%})%>      
    <%}%>
    
    </div>
    <div class="row" style="padding-bottom: 20px;">    
      <div class="author-info">
        <div class="pull-right">
          <div class="object-hyperlink col-xs-1">
            <a href=<%= "#users/" + question.escape("author_id") %>><%= question.escape("author_name")%></a>
          </div>
        </div>
      </div>
      <div class="col-xs-1"></div>
      <% if(SOC.currentUser.id === parseInt(question.escape("author_id")) && !editingQuestion){%>
        <div class="col-xs-3">
          <button class="btn btn-primary edit" style="display: table-cell;">Edit</button>
          <button class="btn btn-danger destroy" style="display: table-cell;">Delete</button>
        </div>      
      <% } %> 
      <% if(SOC.currentUser.id === parseInt(question.escape("author_id")) && editingQuestion){%>      
      <div class="col-xs-3">      
        <button class="btn btn-success submitQuestion" style="font-size: 100%; margin-top: 20px;">Submit</button>    
      </div>
      <% } %>       
    </div>
    <div class="newShowEdit"></div>
    <div class="newComment" style="font-size: 18px;"></div>
    <div class="row">
      <div class="subheader answers-subheader"></div>        
    </div>
  </div>

  <div id="answers" class="object col-xs-6" style="padding-bottom: 0px;"></div>
  <div id="answer-form" class="object col-xs-6" style="padding-top: 0px;"></div>
  
</div>